@media (max-width: 1440px)
  .purchase
    background-image: url("../img/purchase.png")
@media (max-width: 1200px)
  .container
    max-width: 960px
  .option
    max-width: 200px
  .description
    &-main
      max-height: 210px
      margin-bottom: 30px
    &--second
      width: 425px
  .slide
    &--second
      width: 450px
      height: 525px
    &--third
      transform: none
  .trimmings
    &-wrapper
      max-width: 960px
      grid-template-columns: 460px 400px
      grid-column-gap: 100px
      grid-template-rows: 320px 350px 358px
      grid-row-gap: 200px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      &__links
        max-width: 200px
  .logo
    transform: translateX(0)
  .main
    padding-top: 140px
    padding-bottom: 200px
    background-image: url("../img/main-img-992.png")
    background-position: top right
    &-info
      max-width: 450px
      &__title
        font-size: 40px
      &__text
        margin-bottom: 49px
  .slide
    &--first
      order: -1
      width: 400px
      height: 400px
    &--second
      width: 100%
  .info
    &-slider
      &__item
        flex-direction: column
        align-items: center
  .description
    &--second
      width: 100%
    &--third
      padding-top: 30px
    &-main
      &__text
        &--third
          display: none
  .option
    &--second
      margin-bottom: 30px
  .info
    &-slider
      &__item
        &--third
          align-items: flex-start
  .trimmings
    &-wrapper
      max-width: 700px
      grid-template-columns: 300px 300px
      grid-template-rows: 320px 330px 400px
      grid-row-gap: 180px
      &__info
        &--up
          transform: none
  .swiper
    &-pagination
      top: 98.3%

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    display: flex
    justify-content: space-between
    width: 100%
    position: fixed
    top: 0
    background-color: #fff
    z-index: 2
    &-top
      &__links
        display: none
      &__button
        display: none
  .logo
    &-link
      transform: none
  .menu
    &-button
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 22px
      height: 17.7px
      padding: 0
      border: none
      background-color: #fff
      cursor: pointer
      outline: none
      &__line
        width: 22px
        height: 1.5px
        background-color: $primary
  .main
    padding-top: 60px
    padding-bottom: 200px
    background-image: url("../img/main-img-768.png")
    transform: translateY(70px)
    &-info
      max-width: 400px
      &__title
        font-size: 30px
        line-height: 40px
      &__text
        font-size: 16px
        line-height: 25px
        margin-bottom: 35px
      &__button
        max-width: 159px
  .trimmings
    &-wrapper
      max-width: 576px
      grid-template-columns: 276px 200px
      grid-column-gap: 95px
      grid-template-rows: 420px 420px 485px
      &__title
        font-size: 30px
  .purchase
    &-container
      max-width: 500px
      padding: 0 30px
@media (max-width: 576px)
  .logo
    &-link
      max-width: 79px
      margin: auto
  .menu
    &-button
      position: absolute
      top: 30px
      right: 25px
  .main
    background-image: url("../img/main-img-576.png")
    &-info
      margin: auto
      display: flex
      flex-direction: column
      align-items: center
      &__title
        text-align: center
      &__text
        text-align: center
      &__button
        padding-top: 10px
        padding-bottom: 10px
        min-width: 80%
        margin: 0
        margin-bottom: 30px
  .info
    padding-top: 70px
    margin: auto
  .slide
    &--first
      width: 300px
      height: 300px
    &--second
      height: 300px
    &--third
      width: 300px
  .description
    &-main
      &__title
        font-size: 30px
        line-height: 35px
      &__text
        font-size: 14px
  .option
    &--first
      margin-bottom: 40px
    &--third
      transform: translateY(-20px)
      margin-bottom: 40px
  .trimmings
    &-wrapper
      max-width: 300px
      grid-template-columns: 1fr
      grid-template-rows: 200px 330px 225px 330px 212px 335px
      grid-row-gap: 0
      align-items: flex-start
  .purchase
    &-container
      margin-top: 120px
      &__title
        font-size: 30px
@media (max-width: 370px)
  .purchase
    background-image: none
    background-color: #f1f5ff
    &-br
      display: none
@media (max-width: 354px)
  .option
    &--first
      transform: translateY(65px)
@media (min-width: 991px)
  .button
    &--dark
      &:hover
        background-color: #a7c7fc
  .navbar
    &-top
      &__link
        &:hover
          color: $primary
  .main
    &-info
      &__button
        &--transparent
          &:hover
            background-color: #b9d1fa
